.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 8.5dvw;
  margin-bottom: 20px;
  box-shadow: 0px 0px 8px 0px rgba(54, 89, 226, 0.16);
  overflow: auto;
}
.taskcont {
  color: black;
  margin-top: 10px;
  margin-left: 20px;
  text-align: left;
  font-size: 20px;
}
.time {
  width: 90%;
  height: max-content;
  margin-top: 20px;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  text-align: left;
  gap: 18px;
  margin-bottom: auto;
}
.starttime1,
.deadtime {
  font-size: medium;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  color: var(--foundation-text-colors-secondary-text-color, #777);
}
.strttime {
  margin-top: 8px;
  border: none;
  border-radius: 10px;
  padding: 4px;
  width: 120px;
  height: 28px;
  background: var(--foundation-brand-brand-50, #ebeefc);
  font-size: 16px;
  color: rgba(54, 89, 226, 1);
}
